version: 2
updates:
    - package-ecosystem: npm
      directory: '/'
      schedule:
          interval: daily
      open-pull-requests-limit: 10
      versioning-strategy: increase
    - package-ecosystem: npm
      directory: '/examples/cra'
      schedule:
          interval: daily
      open-pull-requests-limit: 10
      versioning-strategy: increase
      ignore:
          - dependency-name: eslint
            versions:
                - '> 5.16.0'
