.container {
    height: 100%;
    position: relative;
}

.contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.loading {
    filter: blur(1px);
}

.tabControls {
    flex-shrink: 1;
}

.tabs {
    flex-grow: 1;
}
